
html, body, div, header,
h1, p, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #f1f1f1;
}

header {
	width: 100%;
	background-color: #5d535e;
	text-align: center;
}

h1 {
	font-family: 'Chivo', sans-serif;
	color: #FFF;
  font-size: 50px;
  font-weight: bold;
  font-variant: small-caps;
}

.wrapper {
	width: 40%;
	margin: 40px auto;
}

div.gallery {
	margin-top: 85px;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
  transition: all 0.4s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 5px;
  z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img{
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: #ffffff;
}


div.gallery ul li:hover img {
	width: 300px;
	height: 300px;
	margin-top: -130px;
	margin-left: -130px;
	top: 30%;
	left: 25%;
	transform: rotate3d(5, 1, 1, 360deg)
}

p.attribution {
	font-family: 'Chivo';
	color: rgba(0, 0, 0, 0.8);
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
